[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
voting_dapp = "58Quw5P7YpwDUKeRTqGALAW396WG2qKq6CDepdPTj4VA"

[programs.devnet]
voting_dapp = "58Quw5P7YpwDUKeRTqGALAW396WG2qKq6CDepdPTj4VA"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"
